.entry {
    display: grid;
    place-items: center;
}

.modal-header {
    font-size: 2rem;
    font-family: var(--font-family-titles);
}
.mood-entry {
    text-align: center;
    font-family: var(--font-family-titles);
    font-weight: 200;
}
.moods { 
    display: flex;
    text-align: center;
    margin-bottom: 10rem;
    margin-top: 100px;
}

.mood {
    margin-left: 50px;
    margin-right: 50px;
}

.mood h1{
    font-size: 6rem;
    cursor: pointer;
    transition: font-size 0.2s ease;
}

.mood h2{ 
margin-top: 10px;
  font-weight: 300;
}

.mood h1:hover {
    font-size: 7.5rem;
}

.showMoreBtn {
    background-color: var(--main-red-color);
    padding: 15px;
    width: 200px;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: none;
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    transition: background-color 0.1s ease;
}

.showMoreBtn:hover {
    background-color: transparent;
    border-style: solid;
    border-color: var(--main-red-color);
    color: var(--main-red-color);
}