.entry {
    display: grid;
    place-items: center;
}

.mood-entry {
    text-align: center;
    font-family: var(--font-family-subtitle);
}
.moods { 
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.mood {
    margin-left: 50px;
    margin-right: 50px;
}

.mood h1{
    font-size: 6rem;
    cursor: pointer;
    transition: font-size 0.2s ease;
}

.mood h1:hover {
    font-size: 7.5rem;
}

.showMoreBtn {
    background-color: #A91E1E;
    padding: 15px;
    width: 200px;
    font-size: 1.5rem;
    border-radius: 50px;
    border-style: none;
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    transition: background-color 0.1s ease;
}

.showMoreBtn:hover {
    background-color: #430b0b;
}