.nav-div{ 
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 6%;
    padding-right: 6%;
    border-bottom: 0.1rem solid var(--main-red-color);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.logo-div {
    display: flex;
    align-items: center;
    font-family: var(--font-family-titles), 'Courier New', Courier, monospace;
    cursor: pointer;
}

.logo-div img {
    width: 80px;
}

.logout-sect {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.navlink {
    font-family: var(--font-family-titles);
    font-weight: 300;
    font-size: 1.3rem;
    transition: font-size 0.5s;
}

.navlink:hover {
    color: var(--main-red-color);
    font-size: 1.4rem;
    text-decoration: underline;
}
