<div class="login-pg">
    <div class="login-picture">
        <img src="../../assets/pexels-leeloothefirst-20140034 1.svg">
    </div>
    <div class="login-form">
        <header>
          <h1>Welcome Back</h1>
        </header>
        <form> 
            <div class="form-inputs">
                <div class="form-email-input">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="form-pswd-div">
                 <div class="form-pswd-input">
                    <label>Password</label>
                    <input type="text">
                </div>
                <div class="form-forgot-pswd">
                   <p>Forgot password</p>
                </div>
                </div>
            </div>
            <div class="form-submit-btn">
                <button>Login</button>
            </div>
            <div class="form-register-instead">
                <h1>No Account? <a href="/register">Register here</a></h1>
            </div>
        </form>
    </div>
</div>