<div class="login-pg">
    <div class="login-picture">
        <img src="../../assets/pexels-leeloothefirst-20140034 1.svg">
    </div>
    <div class="login-form">
        <header>
          <h1>Welcome Back</h1>
        </header>
        <form> 
            <div class="form-inputs">
                <div class="form-email-input form-input">
                    <label>Your Email</label>
                    <input type="text" placeholder="Enter Email">
                </div>
                <div class="form-pswd-div">
                 <div class="form-pswd-input form-input">
                    <label>Your Password</label>
                    <input type="text" placeholder="Enter Password">
                </div>
                <div class="form-forgot-pswd">
                   <p>Forgot password</p>
                    <div class="remember-me-btn">
                     <input type="checkbox">
                      <label>Remember Me</label>
                    </div>
                </div>
                </div>
            </div>
        </form>

            <div class="form-submit-btn">
                <button routerLink="/home">Login</button>
            </div>
            <div class="form-register-instead">
                <h1>No Account? <a href="/register">Register here</a></h1>
            </div>
    </div>
</div>