<div class="entry-modal">
  <div class="entry-btn">
    <button class="add-entry-btn">Add Entry</button>
  </div>

  <div class="entry-div">
    <div class="single-entry-div">
        <div class="entry-header">
            <h1 class="date">25/03/2025</h1>
            <h1 class="mood-entry">😭</h1>
        </div>
        <div class="entry-body">
            <h1 class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem impedit ipsum laborum aut soluta ad optio 
                itaque ex est. Dolorem pariatur provident sit impedit totam architecto aliquam doloribus aspernatur eum!</h1>
        </div>
        <div class="entry-buttons">
            <button class="edit-btn">Edit</button>
            <button class="delete-btn">Delete</button>
        </div>
    </div>



    
    </div>
    
</div>
