<div class="login-pg">
    <div class="login-picture">
        <img src="../../assets/pexels-leeloothefirst-20140034 1.svg">
    </div>
    <div class="login-form">
        <header>
          <h1>Welcome</h1>
        </header>
        <form> 
            <div class="form-inputs">
                  <div class="form-email-input form-input">
                    <label>Name</label>
                    <input type="text">
                </div>
                  <div class="form-email-input form-input">
                    <label>Surname</label>
                    <input type="text">
                </div>
                <div class="form-email-input form-input">
                    <label>Email</label>
                    <input type="text">
                </div>
                <div class="form-pswd-div">
                 <div class="form-pswd-input form-input">
                    <label>Password</label>
                    <input type="text">
                </div>
                </div>
            </div>
        </form>

         <div class="form-submit-btn">
                <button>Register</button>
        </div>

         <div class="form-register-instead">
                <h1>Already Have An Account <a href="/login">Login Here</a></h1>
            </div>
    </div>
</div>