/* You can add global styles to this file, and also import other style files */
:root {
    --font-family-titles: 'Galindo';
    --font-family-subtitle: 'Oswald';
    --font-family-subtext: 'Inter';
    --main-red-color: #6495ED;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    min-height: 100vh;
    min-width: 100%
}